*
{
	font-family: verdana;
	margin:5px;
	padding:5px;
}
img
{
		height:50%;
		width:50%;
}
h1
{
		color:red;
		text-align:center;
}

ul
{
	list-style-type:circle;
	color:#FF6700;
	font-size:25px;
	color:white;	
	text-transform:uppercasercase;
	color:green;
	text-align:left;
	
}

p
{
	font-size:16px;
	
	
}
#cont1
{
	background:#00FF80 ;
	
}
img
{
	width:100%;
	height:100%;
}
	
	
	}
	section
	{
		background-color:#355044 ;

		float:left;
	}
	aside
	{
		background-color:green ;
		height:300px;
		width:25%;
		float:right
	}
}

#cont2
{
	{
		background:#5CF0A6  ;
	}
img
{
	width:25px;
	height:30px;
}	

}
#cont3
	{
		background:#8FCBAD  ;
	}
#cont4

	{
		background:;#DBFEED  ;
	}
#cont5
{
		background:;#DBFEED  ;
	}


footer
	{
		background-color:#C9F0DD ;
		height:
	}
	
@media screen and (min-width:500px)
{
	#cont1
	{
		background:#00FF80  ;
	}
	#cont2

	{
		background:#5CF0A6 ;
	}
	#cont3
	{
		background:#8FCBAD ;
	}
	#cont4
	{
		background:#DBFEED ;
	}
	#cont5
	{
		background:;#DBFEED  ;
	}

	
	
	h1
	{
		color:white;
		text-decoration:underline;
	}



}


@media screen and (max-width:500px)
{
	#cont1
	{
		background:purple;
	}
	#cont2

	{
		background:red;
	}
	#cont4
	{
		background:brown;
	}
	#cont5
{
		background:;#yellow  ;
	}

	
	section
	{
		background:orange;
	}
	img

	{
		width:100%;
		height:100%;
	}

}


